@import "tailwindcss";

.btn-primary {
  @apply p-8 px-6 py-2 text-lg font-semibold bg-gradient-to-r from-blue-700 to-blue-900 text-white rounded-2xl shadow-md hover:scale-105 hover:bg-blue-800 transition-all duration-150 focus:outline-none hover:ring-2 hover:ring-blue-400;
}

body {
  background-color: #030712;
  color: white;
}

.overlay {
  background-color: hsla(0, 0%, 0%, 0.913);
}

.modal-content {
  background-color: #191127;
}

.containerr {
  animation: fadeInBottomOpen 0.5s ease 0s 1 normal forwards;
}

@keyframes fadeInBottomOpen {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutBackwardClose {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}
